// base color
$white: #FFFFFF;
$blue: #324157;
$dark: #333333;
$light-blue: #3A71A8;
$red: #C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;
$lightgray: #F6F6F6;
$gray: #CCCCCC;

$bg-sidebar: #2e6388;
$text-sidebar: #FFFFFF;

$bg-sidebar-open: #346f98;
$text-sidebar-open: #FFFFFF;

$bg-sidebar-active: #FFFFFF;
$text-sidebar-active: #333333;

$bg-sidebar-hover: #408bbf;
$text-sidebar-hover: #F0F0F0;

$sky_blue: #2386F5;
$blue_active: #394e6b;

$light_dark: #666666;
