 .sidebar {

	.dashboard-home {
		background-color: $sky_blue !important;
		/*
		&::after {
			border-top: 18px solid transparent;
			border-bottom: 19px solid transparent;
			border-right: 16px solid $bg-sidebar;
			border-left: 0px solid transparent;
			content: '';
			display: block;
			height:0;
			position: absolute;
			width: 0; 
			top: 0;
			right: 0;
		}*/
	}
	
	.main-menu {
	
		.el-menu {
			.el-menu-item {
				&.is-active {
					//background-color: #ecf5ff !important;
					
					&::after {
						background-color: #409eff !important;
						content: '';
						display: block;
						height: 100%;
						right: 0;
						position: absolute;
						width: 3px;
					}
				}
			}
		}
		
	}
}

.main {
	background-color: $lightgray !important;
	
	.main-content {
		border-radius: 0 !important;
	}
}

.header {
	.breadcrumb {
		background-color: $white !important;
		box-shadow: inset 0 0px 2px rgba(200, 200, 200, 0.5);
		
		.nav-icon-home {
			color: $light_dark !important;
		}
		
		.u-breadcrumb {
			
			.el-breadcrumb__inner {
				color: $light_dark !important;
				
				&:hover {
					color: $lightgray;
				}
				
				&.is-link {
					color: $gray;
				}
			}
			.el-breadcrumb__separator {
				color: $gray;
			}
		}
		
		.current-date-time {
			color: $dark !important;
		}
	}
}